{% extends 'base.html' %}

{% load static %}

{% block contenido %}
      <main role="main" class="main-content">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12">
              <h2 class="page-title">Editar usuario</h2>
              <div class="card-deck">
                <div class="card shadow mb-4">
                  <div class="card-body">
                    <form method="post" action="">
                      {% csrf_token %}
                      {% if error is not None %}
                          <div class="alert alert-danger" role="alert">
                          {{ error }}
                          </div>
                      {% endif %}
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputRol">Rol</label>
                          <select id="inputRol" class="form-control" name="txtRol">
                            <option selected>Seleccionar rol</option>
                            <option value="Paciente" {% if usuario.rol == 'Paciente' %}selected{% endif %}>Paciente</option>
                            <option value="Médico" {% if usuario.rol == 'Médico' %}selected{% endif %}>Médico</option>
                            <option value="Recepcionista" {% if usuario.rol == 'Recepcionista' %}selected{% endif %}>Recepcionista</option>
                          </select>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="inputNombres">Nombres</label>
                          <input type="text" class="form-control" id="inputNombres" placeholder="Nombres" name="txtNombres" value="{{ usuario.user.first_name }}">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="inputApellidos">Apellidos</label>
                          <input type="text" class="form-control" id="inputApellidos" placeholder="Apellidos" name="txtApellidos" value="{{ usuario.user.last_name }}">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="inputEmail">Email</label>
                          <input type="email" class="form-control" id="inputEmail" placeholder="Correo" name="txtEmail" value="{{ usuario.user.email }}">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="inputNumTelf">Número teléfono</label>
                          <input type="number" class="form-control" id="inputNumTelf" placeholder="Número de teléfono" name="txtTelefono" value="{{ usuario.telefono }}">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="inputNumDoc">N°doc</label>
                          <input type="text" class="form-control" id="inputNumDoc" placeholder="Número de documento" name="txtNumDoc" value="{{ usuario.num_doc }}">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="inputUsername">Username</label>
                          <input type="text" class="form-control" id="inputText" placeholder="Nombre de usuario" name="txtUsername" value="{{ usuario.user.username }}">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="inputPassword">Contraseña</label>
                          <input type="password" class="form-control" id="inputPassword" placeholder="Contraseña" name="txtPassword" value="{{ usuario.user.password }}">
                        </div>
                      </div>

                      <div class="modal-footer d-flex justify-content-between">
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="RepeatSwitch" name="txtEstado" checked>
                          <label class="custom-control-label" for="RepeatSwitch">Activo</label>
                        </div>
                        <div>
                          <button type="submit" class="btn btn-primary mr-4">Guardar</button>
                        <!--<button type="submit" class="btn btn-danger">Cancelar</button>-->
                          <a href="{% url 'tabla_usuarios' %}" class="btn btn-danger">Cancelar</a>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div> <!-- end section -->
            </div> <!-- .col-12 -->
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->
</main>
     
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag()
      {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-56159088-1');
    </script>
 
{% endblock %}