{% extends 'base-website.html' %}

{% load static %}

{% block contenido %}
  <div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close">
        <span class="icofont-close js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>
  
  <nav class="site-nav mb-5">
    <div class="pb-2 top-bar mb-3">
      <div class="container">
        <div class="row align-items-center">

          <div class="col-6 col-lg-9">
            <a href="#" class="small mr-3"><span class="icon-phone mr-2"></span> <span class="d-none d-lg-inline-block">0729666666 - 0999489227</span></a> 
            <a href="#" class="small mr-3"><span class="icon-envelope mr-2"></span> <span class="d-none d-lg-inline-block">fundacionestiempodemujeres@gmail.com</span></a> 
          </div>

          <div class="col-6 col-lg-3 text-right">
            <a href="{% url 'login' %}" class="small mr-3">
              <span class="icon-lock mr-2"></span>
              Iniciar sesión
            </a>
          
          </div>

        </div>
      </div>
    </div>
    <div class="sticky-nav js-sticky-header">
      <div class="container position-relative">
        <div class="site-navigation text-center">
          <a href="{% url 'index' %}" class="logo menu-absolute m-0 logo-nombre">FETM
          </a>

          <ul class="js-clone-nav d-none d-lg-inline-block site-menu">
            <li class="active"><a href="{% url 'index' %}">Inicio</a></li>
  
            <li><a href="#Nosotras">Nosotras</a></li>
            <li><a href="#Mision">Misión</a></li>
            <li><a href="#Vision">Visión</a></li>
            <li><a href="#Eventos-proximos">Eventos</a></li>
            <li><a href="#Proyectos-activos">Proyectos</a></li>
            <li><a href="#Mujeres-referentes">Mujeres referentes</a></li>
            <li class="has-children">
              <a href="#">Transparencia</a>
              <ul class="dropdown">
                {% for categoria in menu_categorias %}
                  <li class="has-children">
                    <a href="#">{{ categoria.nombre }}</a>
                    <ul class="dropdown">

                      {% for documento in categoria.documentos.all %}
                        {% if documento.estado %}
                          <li>
                            <a href="{{ documento.archivo.url }}" target="_blank">
                              {{ documento.nombre }}
                            </a>
                          </li>
                        {% endif %}
                      {% empty %}
                        <li><span class="text-muted">Sin documentos</span></li>
                      {% endfor %}
                    </ul>
                  </li>
                {% endfor %}
              </ul>
            </li>
            <li><a href="#Contacto">Contactános</a></li>
          </ul>

          <a href="#" class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
            <span></span>
          </a>

        </div>
      </div>
    </div>
  </nav>

  
  <div class="untree_co-hero overlay">

    <div class="container">
      <div class="row align-items-center justify-content-center">

        <div class="col-12">

          <div class="row justify-content-center ">

            <img class="logo-fetm" data-aos="fade-up" data-aos-delay="100" src="{% static 'assets/images/logo-web.png' %}" alt="logo">

            <div class="col-lg-12 text-center ">
              <h1 class="mb-4 heading text-white titulo-fetm" data-aos="fade-up" data-aos-delay="100">Fundación Es tiempo de Mujeres</h1>
              <!-- <p class="mb-0" data-aos="fade-up" data-aos-delay="300"><a href="#" class="btn btn-secondary">Explore courses</a></p> -->
              
              <a href="#Eventos-proximos"  data-aos="fade-up" data-aos-delay="0" class="btn btn-rosa mt-5 ml-3 d-inline-block shadow">Consultar próximos eventos</a>
              <a href="#Proyectos-activos"  data-aos="fade-up" data-aos-delay="0" class="btn btn-rosa mt-5 ml-3 d-inline-block shadow">Consultar proyectos activos</a>

            </div>


          </div>

        </div>

      </div> <!-- /.row -->
    </div> <!-- /.container -->

  </div> <!-- /.untree_co-hero -->

  <!-- seccion nosotras -->

  <div class="untree_co-section" id="Nosotras">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-5">
          <h2 class="line-bottom mb-4" data-aos="fade-up" data-aos-delay="0">Acerca de nosotras</h2>
          <p class="text-justify" data-aos="fade-up" data-aos-delay="100">Es Tiempo de Mujeres es una fundación sin fines de lucro ubicada en Machala, Ecuador, comprometida con el empoderamiento, desarrollo integral y bienestar de las mujeres en todas las etapas de su vida. Nacimos con la convicción de que cada mujer tiene el poder de transformar su entorno cuando cuenta con las herramientas, el apoyo y las oportunidades necesarias. <br> <br> Nuestra labor se enfoca en:</p>
          <ul class="list-unstyled ul-check mb-5 primary" data-aos="fade-up" data-aos-delay="200">
            <li>Promover la igualdad de género</li>
            <li>Fortalecer el liderazgo femenino</li>
            <li>Fomentar la autonomía económica y personal de las mujeres.</li>
          </ul>

          <div class="row count-numbers mb-5 counter-section">
            <div class="col-4 col-lg-4" data-aos="fade-up" data-aos-delay="0">
              <span class="counter d-block"><span data-number="60">0</span><span>+</span></span>
              <span class="caption-2">Miembros de la fundación</span>
            </div>
            <div class="col-4 col-lg-4" data-aos="fade-up" data-aos-delay="100">
              <span class="counter d-block"><span data-number="50">0</span><span></span></span>
              <span class="caption-2">Eventos realizados</span>
            </div>
            <div class="col-4 col-lg-4" data-aos="fade-up" data-aos-delay="100">
              <span class="counter d-block"><span data-number="20">0</span><span></span></span>
              <span class="caption-2">Proyectos realizados</span>
            </div>
          </div>
        </div>
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
          <div class="bg-1"></div>
          <a href="https://vimeo.com/342333493" data-fancybox class="video-wrap">
            <span class="play-wrap"><span class="icon-play"></span></span>
            <img src="{% static 'images/about.jpeg' %}" alt="Image" class="img-fluid rounded">
          </a>
        </div>
      </div>
    </div>
  </div> <!-- /.untree_co-section -->

  <!-- seccion mision -->

  <div class="untree_co-section bg-light" id="Mision">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 mr-auto mb-5 mb-lg-0"  data-aos="fade-up" data-aos-delay="0">
          <img src="{% static 'images/mision.jpg' %}" alt="image" class="img-fluid shadow">
        </div>
        <div class="col-lg-7 ml-auto" data-aos="fade-up" data-aos-delay="100">
          <h3 class="line-bottom mb-4">Misión</h3>
          <p class="text-justify">En la Fundación "Es tiempo de Mujeres" trabajamos porque creemos que la equidad y
            la igualdad no pueden esperar, lo hacemos para romper las barreras que impiden el
            pleno desarrollo y la participación activa de las mujeres, especialmente de aquellas que
            enfrentan situaciones de violencia, exclusión o discriminación.

            Nuestra razón de ser es empoderar social, económica y políticamente a las mujeres,
            brindándoles herramientas, conocimiento y acompañamiento que fortalezcan su
            autonomía, liderazgo y capacidad de decisión, a través de programas educativos,
            culturales y comunitarios, promovemos una transformación real en sus vidas y en su
            entorno.
            Lo hacemos por ellas, por nosotras y por el país, porque una sociedad justa y sostenible
            solo es posible cuando las mujeres participan en igualdad de condiciones, nuestro
            impacto se refleja en cada mujer que se levanta con dignidad en cada comunidad que
            aprende a convivir con respeto, y en cada paso hacia un Ecuador más equitativo, libre
            de violencia y con mujeres protagonistas de su propio destino.</p>
        </div>
      </div>
    </div>
  </div> <!-- /.untree_co-section -->

    <!-- seccion vision -->

  <div class="untree_co-section" id="Vision">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 mr-auto mb-5 mb-lg-0"  data-aos="fade-up" data-aos-delay="0">
          <img src="{% static 'images/vision.jpg' %}" alt="image" class="img-fluid shadow">
        </div>
        <div class="col-lg-7 ml-auto" data-aos="fade-up" data-aos-delay="100">
          <h3 class="line-bottom mb-4">Visión</h3>
          <p class="text-justify">Ser una organización referente en el empoderamiento integral de las mujeres,
              reconocida por su impacto real en la erradicación de la violencia, la desigualdad y la
              discriminación. Aspiramos a construir una sociedad donde mujeres, niñas y
              adolescentes vivan libres, seguras y plenamente empoderadas, participando activamente
              en los espacios de decisión política, económica y social.
              Buscamos transformar las estructuras que limitan su desarrollo convirtiendo la igualdad,
              el respeto y la autonomía en pilares del progreso y del desarrollo sostenible. Para
              lograrlo, fortalecemos alianzas estratégicas, impulsaremos la educación con enfoque de
              género y acompañaremos a las comunidades en procesos de cambio cultural que
              promuevan la justicia, la solidaridad y la participación equitativa.
              Nuestra visión es hacer del liderazgo femenino una fuerza transformadora, capaz de
              inspirar nuevas generaciones y consolidar un futuro más justo, inclusivo y humano,
              donde la voz de las mujeres sea escuchada y respetada y decisiva.</p>
        </div>
      </div>
    </div>
  </div> <!-- /.untree_co-section -->

<!-- miembros de la fundación -->
  <div class="untree_co-section bg-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="0">
          <h2 class="line-bottom text-center mb-3">Miembros de FETM</h2>  
        </div>
      </div>

      <div class="row">
        {% for miembro in miembros %}
        <div class="col-12 col-sm-6 col-md-6 mb-4 mb-lg-0 col-lg-4" data-aos="fade-up" data-aos-delay="{{ forloop.counter0|add:1 }}00">
          <div class="staff text-center">

            <div class="mb-4">
              {% if miembro.foto %}
                <img src="{{ miembro.foto.url }}" alt="Foto {{ miembro.nombre }}" class="img-fluid foto-miembro">
              {% else %}
                <img src="{% static 'images/staff_default.jpg' %}" alt="Foto por defecto" class="img-fluid foto-miembro">
              {% endif %}
            </div>

            <div class="staff-body">
              <h3 class="staff-name">
                {{ miembro.nombre }} {{ miembro.apellido }}
              </h3>

              <span class="d-block position mb-4">
                {{ miembro.get_cargo_display }}
              </span>

              <p class="mb-4">
                {{ miembro.descripcion }}
              </p>

            </div>
          </div>
        </div>
        {% empty %}
          <div class="col-12 text-center">
            <p>No hay miembros registradas aún.</p>
          </div>
        {% endfor %}
      </div>

    </div>
  </div>
<!-- /.untree_co-section -->

  <!-- seccion eventos -->

  <div class="untree_co-section" id="Eventos-proximos">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="0">
          <h2 class="line-bottom text-center mb-1">Próximos eventos</h2>
        </div>
      </div>

      <!-- Timeline 1 -->
      <section class="bsb-timeline-1 py-5 py-xl-8" data-aos="fade-up" data-aos-delay="0">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-10 col-md-8 col-xl-6">
              <ul class="timeline">
                {% for evento in proximos_eventos %}
                <li class="timeline-item">
                  <div class="timeline-body">
                    <div class="timeline-content">
                      <div class="card border-0">
                        <div class="card-body p-0 rounded p-4 shadow text-justify">
                          <!-- <h5 class="card-subtitle text-secondary mb-1"> Día: {{ evento.fecha }} | Hora: {{ evento.hora_inicio }}</h5> -->
                          <span class="card-subtitle text-secondary mb-1 icon-calendar mr-2"></span><span>{{ evento.fecha }}</span> 
                          <span class="card-subtitle text-secondary mb-1 icon-clock-o mr-2 ml-2"></span><span>{{ evento.hora_inicio }} - {{ evento.hora_fin }} </span> <br>
                          <span class="card-subtitle text-secondary mb-1 icon-map-marker mr-2"></span><span>{{ evento.lugar }}, {{ evento.direccion }}</span>
                          <h5 class="card-title mb-3 mt-2 line-bottom">{{ evento.titulo }}</h5>
                          <p class="card-text m-0">{{ evento.descripcion|truncatewords:300 }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                  {% empty %}
                    <p class="text-center">No hay próximos eventos por el momento.</p>
                  {% endfor %}
              
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>   
  
  </div> <!-- /.untree_co-section -->

  <!-- seccion eventos -->

  <div class="untree_co-section bg-light" id="Eventos-realizados">
    <div class="container">
      
      <div class="row justify-content-center mb-5">
        <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="0">
          <h2 class="line-bottom text-center mb-1">Eventos realizados</h2>
        </div>
      </div>

      <div class="row align-items-stretch">
        {% for evento in eventos_realizados %}
        <div class="col-lg-6 mb-4" data-aos="fade-up" data-aos-delay="{{ forloop.counter0|add:100 }}">
          <div class="media-h d-flex h-100">
            <figure>
              {% if evento.imagen %}
                <img src="{{ evento.imagen.url }}" alt="{{ evento.titulo }}">
              {% else %}
                <img src="{% static 'images/foto-evento-default.jpeg' %}" alt="Imagen por defecto">
              {% endif %}
            </figure>
            <div class="media-h-body shadow">
              <h2 class="mb-3"><a href="{% url 'evento_detalles' evento.id %}">{{ evento.titulo }}</a></h2>
              <div class="meta mb-2">
                <span class="icon-building-o mr-2"></span>{{ evento.lugar }} <br>
                <span class="icon-map-marker mr-2"></span> {{ evento.direccion }} <br>
                <span class="icon-calendar mr-2"></span>{{ evento.fecha }} 
              </div>
              <p class="text-justify">{{ evento.descripcion|truncatewords:10 }}</p>
              <a href="{% url 'evento_detalles' evento.id %}">
                  Ver más
              </a>
            </div>
          </div>
        </div>
        {% empty %}
          <p class="text-center">Aún no hay eventos realizados.</p>
        {% endfor %}
      </div>
          <p data-aos="fade-up" data-aos-delay="200">
              <a href="{% url 'eventos' %}" class="btn btn-rosa mr-1 mt-5">Ver más</a>
          </p>
    

    </div>
  </div> <!-- /.untree_co-section -->

  <!-- seccion proyectos en curso-->

  <div class="untree_co-section" id="Proyectos-activos">
    <div class="container">
      
      <div class="row justify-content-center mb-5">
        <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="0">
          <h2 class="line-bottom text-center mb-1">Proyectos activos</h2>
        </div>
      </div>

      <div class="row align-items-stretch">
        {% for proyecto in proyectos_en_curso %}
        <div class="col-lg-6 mb-4" data-aos="fade-up" data-aos-delay="{{ forloop.counter0|add:100 }}">
          <div class="media-h d-flex h-100">
            <figure>
              {% if proyecto.imagen %}
                <img src="{{ proyecto.imagen.url }}" alt="{{ proyecto.nombre }}">
              {% else %}
                <img src="{% static 'images/foto-proyecto-default.png' %}" alt="Imagen por defecto">
              {% endif %}
            </figure>
            <div class="media-h-body shadow">
              <h2 class="mb-3"><a href="{% url 'proyecto_en_curso_detalles' proyecto.id %}">{{ proyecto.nombre }}</a></h2>
              <div class="meta mb-2">
                <span class="icon-calendar mr-2"></span>{{ proyecto.fecha_inicio }} - {{ proyecto.fecha_fin|default:"En curso"  }} 
              </div>
              <p class="text-justify">{{ proyecto.descripcion|truncatewords:10 }}</p>
              <a href="{% url 'proyecto_en_curso_detalles' proyecto.id %}">
                  Ver más
              </a>
            </div>
          </div>
        </div>
        {% empty %}
          <p class="text-center">Aún no hay proyectos activos.</p>
        {% endfor %}
      </div>
          <p data-aos="fade-up" data-aos-delay="200">
              <a href="{% url 'proyectos_en_curso' %}" class="btn btn-rosa mr-1 mt-5">Ver más</a>
          </p>
    </div>
  </div> <!-- /.untree_co-section -->


  <!-- seccion proyectos -->

  <div class="untree_co-section bg-light" id="Proyectos-realizados">
    <div class="container">
      
      <div class="row justify-content-center mb-5">
        <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="0">
          <h2 class="line-bottom text-center mb-1">Proyectos realizados</h2>
        </div>
      </div>

      <div class="row align-items-stretch">
        {% for proyecto in proyectos_realizados %}
        <div class="col-lg-6 mb-4" data-aos="fade-up" data-aos-delay="{{ forloop.counter0|add:100 }}">
          <div class="media-h d-flex h-100">
            <figure>
              {% if proyecto.imagen %}
                <img src="{{ proyecto.imagen.url }}" alt="{{ proyecto.nombre }}">
              {% else %}
                <img src="{% static 'images/foto-proyecto-default.png' %}" alt="Imagen por defecto">
              {% endif %}
            </figure>
            <div class="media-h-body shadow">
              <h2 class="mb-3"><a href="{% url 'proyecto_realizado_detalles' proyecto.id %}">{{ proyecto.nombre }}</a></h2>
              <div class="meta mb-2">
                <span class="icon-calendar mr-2"></span>{{ proyecto.fecha_inicio }} - {{ proyecto.fecha_fin|default:"En curso"  }} 
              </div>
              <p class="text-justify">{{ proyecto.descripcion|truncatewords:10 }}</p>
              <a href="{% url 'proyecto_realizado_detalles' proyecto.id %}">
                  Ver más
              </a>
            </div>
          </div>
        </div>
        {% empty %}
          <p class="text-center">Aún no hay eventos realizados.</p>
        {% endfor %}
      </div>
          <p data-aos="fade-up" data-aos-delay="200">
              <a href="{% url 'proyectos_realizados' %}" class="btn btn-rosa mr-1 mt-5">Ver más</a>
          </p>
    </div>
  </div> <!-- /.untree_co-section -->


  <div class="untree_co-section" id="Mujeres-referentes" data-aos="fade-up" data-aos-delay="0">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 text-center mx-auto">

          <h3 class="line-bottom mb-4">Mujeres referentes</h3>
          <div class="owl-carousel wide-slider-testimonial">
            {% for mujer in mujeres_referentes %}
            <div class="item">
              <blockquote class="block-testimonial">
                <p>{{ mujer.descripcion }}</p>
                <div class="author ">
                  {% if mujer.imagen %}
                    <img  src="{{ mujer.imagen.url }}" alt="{{ mujer.nombre }}">
                  {% endif %}
                  <h3>{{ mujer.nombre }}</h3>
                  <p class="position">{{ mujer.ocupacion }} - {{ mujer.lugar_origen }}</p>
                </div>
              </blockquote>
            </div>
            {% endfor %}
            
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- seccion contacto -->

  <div class="untree_co-section bg-light" id="Contacto">
    <div class="container">

      <div class="row mb-5">
        <div class="col-lg-4 mb-5 order-2 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
          <div class="contact-info">

            <div class="address mt-4">
              <i class="icon-room"></i>
              <h4 class="mb-2">Ubicación:</h4>
              <p>Rocafuerte y 9 de Mayo, Edificio Torre Corporativa Murano 2 piso oficina 209</p>
            </div>

            <div class="open-hours mt-4">
              <i class="icon-clock-o"></i>
              <h4 class="mb-2">Atención:</h4>
              <p>
                Lunes-Viernes:<br>
                08:00 AM - 18:00 PM
              </p>
            </div>

            <div class="email mt-4">
              <i class="icon-envelope"></i>
              <h4 class="mb-2">Email:</h4>
              <p>fundacionestiempodemujeres@gmail.com</p>
            </div>

            <div class="phone mt-4">
              <i class="icon-phone"></i>
              <h4 class="mb-2">Teléfono:</h4>
              <p>0729666666 - 0999489227</p>
            </div>

          </div>
        </div>
        <div class="col-lg-7 mr-auto order-1" data-aos="fade-up" data-aos-delay="200">
          <iframe class="shadow rounded" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3983.3643708485615!2d-79.9597013725722!3d-3.259360603507492!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x90330e59eb2d09f3%3A0x9f54fb59c20abe06!2sTorre%20Corporativa%20Murano!5e0!3m2!1ses-419!2sec!4v1765434281552!5m2!1ses-419!2sec" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>

      
    </div>
  </div> <!-- /.untree_co-section -->



  {% endblock %}