{% extends 'base.html' %}

{% load static %}

{% block contenido %}
      <main role="main" class="main-content">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12">
              <h2 class="mb-2 page-title">Listado de pacientes</h2>
              <div class="row my-4">
                <!-- Small table -->
                <div class="col-md-12">
                  <div class="card shadow">
                    <div class="card-body">

                        <!--tabla encabezado agregar buscador accion-->
                      <div class="toolbar row mb-3">
                        <div class="col">
                          <form class="form-inline">
                            <div class="form-row">
                              <div class="form-group col-auto">
                                <label for="search" class="sr-only">Buscar</label>
                                <input type="text" class="form-control" id="search" value="" placeholder="Buscar">
                              </div>
                              <div class="form-group col-auto ml-3">
                                <label class="my-1 mr-2 sr-only" for="inlineFormCustomSelectPref">Estado</label>
                                <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                                  <option selected>Elegir...</option>
                                  <option value="1">Processing</option>
                                  <option value="2">Success</option>
                                  <option value="3">Pending</option>
                                  <option value="3">Hold</option>
                                </select>
                              </div>
                            </div>
                          </form>
                        </div>
                        <div class="col ml-auto">
                          <div class="dropdown float-right">
                     
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#eventModal">Agregar +</button>
                      
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="actionMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Acción </button>
                            <div class="dropdown-menu" aria-labelledby="actionMenuButton">
                              <a class="dropdown-item" href="#">Exportar</a>
                              <a class="dropdown-item" href="#">Eliminar</a>
                              <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                          </div>
                          <!-- new event modal -->
                          <div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="varyModalLabel">Agregar paciente</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body p-4">
                                  <form method="post" action="{% url 'registrar_paciente' %}">
                                    {% csrf_token %}
                                    {% if error is not None %}
                                        <div class="alert alert-danger" role="alert">
                                        {{ error }}
                                        </div>
                                    {% endif %}
                                    <div class="form-row">
                                      <div class="form-group col-md-6">
                                        <label for="inputNombres">Nombres</label>
                                        <input type="text" class="form-control" id="inputNombres" placeholder="Nombres" name="txtNombres" required>
                                      </div>
                                      <div class="form-group col-md-6">
                                        <label for="inputApellidos">Apellidos</label>
                                        <input type="text" class="form-control" id="inputApellidos" placeholder="Apellidos" name="txtApellidos" required>
                                      </div>
                                      <div class="form-group col-md-6">
                                        <label for="inputFchNac">Fecha de nacimiento</label>
                                        <input type="date" class="form-control" id="inputFchNac" placeholder="Fecha de nacimiento" name="txtFechNacimiento" required>
                                      </div>
                                      <div class="form-group col-md-6">
                                        <label for="inputEdad">Edad</label>
                                        <input type="number" class="form-control" id="inputEdad" placeholder="Edad" name="txtEdad" readonly>
                                      </div>
                                      <div class="form-group col-md-6">
                                        <label for="inputSexo">Sexo</label required>
                                        <select id="inputSexo" class="form-control" name="txtSexo">
                                          <option selected>Seleccionar sexo</option required>
                                          <option>Femenino</option>
                                          <option>Masculino</option>
                                          <option>Otro</option>
                                        </select>
                                      </div>
                                      <div class="form-group col-md-6">
                                        <label for="inputTipoSangre">Tipo de sangre</label>
                                        <select id="inputTipoSangre" class="form-control" name="txtTipoSangre" required>
                                          <option selected>Seleccionar tipo de sangre</option>
                                          <option>A+</option>
                                          <option>B+</option>
                                          <option>AB+</option>
                                          <option>O+</option>
                                        </select>
                                      </div>
                                      <!--<div class="form-group col-md-6">
                                        <label for="inputTipoDoc">Tipo documento</label>
                                        <select id="inputTipoDoc" class="form-control" name="txtTipoDoc" required>
                                          <option selected>Seleccionar tipo</option>
                                          <option>Cédula</option>
                                          <option>Pasaporte</option>
                                          <option>Otro</option>
                                        </select>
                                      </div> -->
                                      <div class="form-group col-md-6">
                                        <label for="inputNumDoc">Número documento</label>
                                        <input type="number" class="form-control" id="inputNumDoc" placeholder="Número de documento" name="txtNumDoc" required>
                                      </div>
                                      <div class="form-group col-md-6">
                                        <label for="inputNumTelf">Número teléfono</label>
                                        <input type="number" class="form-control" id="inputNumTelf" placeholder="Número de teléfono" name="txtTelefono" required>
                                      </div>
                                      <div class="form-group col-md-6">
                                        <label for="inputEmail">Email</label>
                                        <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="txtEmail" required>
                                      </div>
                                      <div class="form-group col-md-6">
                                        <label for="inputDireccion">Dirección</label>
                                        <input type="text" class="form-control" id="inputDireccion" placeholder="Dirección" name="txtDireccion" required>
                                      </div>
                                      <div class="form-group col-md-6">
                                        <label for="inputEstadoCivil">Estado civil</label>
                                        <select id="inputEstadoCivil" class="form-control" name="txtEstadoCivil" required>
                                          <option selected>Seleccionar estado civil</option>
                                          <option>Casad@</option>
                                          <option>Solter@</option>
                                          <option>Viud@</option>
                                        </select>
                                      </div>
                                    </div> 
                                    <div class="modal-footer d-flex justify-content-between">
                                      <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="RepeatSwitch" checked>
                                        <label class="custom-control-label" for="RepeatSwitch">Activo</label>
                                      </div>
                                      <div>
                                        <button type="submit" class="btn btn-primary mr-4">Guardar</button>
                                        <a href="{% url 'tabla_pacientes' %}" class="btn btn-danger">Cancelar</a>
                                      </div>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div> <!-- new event modal -->
                        </div>
                      </div>


                      <!-- table -->
                      <table class="table datatables table-hover" id="dataTable-1">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Edad</th>
                            <th>Sexo</th>
                            <th>N°doc</th>
                            <th>Teléfono</th>
                            <th>Correo</th>
                            <th>Dirección</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for paciente in pacientes %}
                          <tr>
                            <td>{{ paciente.id }}</td>
                            <td>{{ paciente.usuario.user.first_name }}</td>
                            <td>{{ paciente.usuario.user.last_name }}</td>
                            <td>{{ paciente.edad }}</td>
                            <td>{{ paciente.sexo }}</td>
                            <td>{{ paciente.usuario.num_doc }}</td>
                            <td>{{ paciente.usuario.telefono }}</td>
                            <td>{{ paciente.usuario.user.email }}</td>
                            <td>{{ paciente.direccion }}</td>

                            <td>
                              <a href="{% url 'editar_paciente' paciente.id %}" class="btn btn-secondary"><span class="fe fe-edit fe-14 "></span></a>
                             
                              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{ paciente.id }}">
                                <span class="fe fe-trash fe-14 "></span>
                              </button>

                              <!-- Modal -->
                                <div class="modal fade" id="exampleModal{{ paciente.id }}" tabindex="-1" aria-labelledby="exampleModalLabel{{ paciente.id }}" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <form method="post" action="{% url 'eliminar_paciente' paciente.id %}">
                                        {% csrf_token %}
                                        <div class="modal-header">
                                          <h5 class="modal-title fs-5" id="exampleModalLabel {{ paciente.id }}">Confirmación de eliminación</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                          ¿Estas seguro de eliminar el paciente {{ paciente.usuario.user.first_name }} {{ paciente.usuario.user.last_name }}?
                                        </div>
                                        <div class="modal-footer">
                                          <a href="{% url 'tabla_pacientes' %}" class="btn btn-primary"data-bs-dismiss="modal">Cancelar</a>
                                          <!-- <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>-->
                                          <button type="submit" class="btn btn-danger">Eliminar</button>
                                        </div>
                                      </form>   
                                    </div>
                                  </div>
                                </div>

                            </td>
                          </tr>
                          {% empty %}
                          <tr><td colspan="9">No hay pacientes registrados</td></tr>
                          {% endfor %}
                        </tbody>
                      </table>                     
                    </div>
                  </div>
                </div> <!-- simple table -->
              </div> <!-- end section -->
            </div> <!-- .col-12 -->
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->

      </main> <!-- main -->
     
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag()
      {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-56159088-1');
    </script>

    <script>
      const myModalEl = document.getElementById('myModal')
      myModalEl.addEventListener('hidden.bs.modal', event => {
        // do something...
      })
    </script>

    <script>
      function calcularEdad() {
          const fechaInput = document.getElementById('inputFchNac').value;
          const edadInput = document.getElementById('inputEdad');

          if (fechaInput) {
              const hoy = new Date();
              const fechaNac = new Date(fechaInput);
              let edad = hoy.getFullYear() - fechaNac.getFullYear();
              const m = hoy.getMonth() - fechaNac.getMonth();
              if (m < 0 || (m === 0 && hoy.getDate() < fechaNac.getDate())) {
                  edad--;
              }
              edadInput.value = edad;
          } else {
              edadInput.value = '';
          }
      }

      // Ejecutar cuando cargue la página para mostrar edad actual
      window.onload = calcularEdad;

      // Ejecutar al cambiar la fecha
      document.getElementById('inputFchNac').addEventListener('change', calcularEdad);
    </script>

{% endblock %}