{% extends 'base.html' %}
{% load roles %}

{% load static %}

{% block contenido %}
      <main role="main" class="main-content">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12">
              <h2 class="mb-2 page-title">Listado de proyectos</h2>
              <div class="row my-4">

                <div class="col-12 mb-3 d-flex justify-content-end">
                {% if request.user|has_group:"Secretaria,Presidenta" %}
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#eventModal">Agregar +</button>
                {% endif %}
                </div>

                <!-- Small table -->
                <div class="col-md-12">
                  <div class="card shadow">
                    <div class="card-body">
                      <!-- table -->
                      <table class="table datatables table-hover" id="dataTable-1">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Fecha_inicio</th>
                            <th>Fecha_fin</th>
                            <th>Imagen</th>
                            <th>Estado</th>
                            <th>Acción</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for proyecto in proyectos %}
                          <tr>
                            <td>{{ proyecto.id }}</td>
                            <td>{{ proyecto.nombre }}</td>
                            <td>{{ proyecto.descripcion|truncatewords:10 }}</td>
                            <td>{{ proyecto.fecha_inicio }}</td>
                            <td>{{ proyecto.fecha_fin|default:"En curso"  }}</td>
                            <td>
                              {% if proyecto.imagen %}
                                <img src="{{ proyecto.imagen.url }}" alt="imagen" style="width:80px; height:auto;">
                              {% else %}
                                Sin imagen
                              {% endif %}
                            </td>
                            <td>
                              {% if proyecto.estado == 'en_curso' %}
                                <span class="badge badge-warning">En curso</span>
                              {% elif proyecto.estado == 'realizado' %}
                                <span class="badge badge-success">Realizado</span>
                              {% else %}
                                <span class="badge badge-danger">Cancelado</span>
                              {% endif %}
                            </td>
                        

                            <td>
                            {% if request.user|has_group:"Secretaria,Presidenta" %}
                              <a href="{% url 'editar_proyecto' proyecto.id %}" class="btn btn-secondary mb-1"><span class="fe fe-edit fe-14 "></span></a>
                            
                              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{ proyecto.id }}">
                                <span class="fe fe-trash fe-14 "></span>
                              </button>
                            {% endif %}

                              <!-- Modal -->
                                <div class="modal fade" id="exampleModal{{ proyecto.id }}" tabindex="-1" aria-labelledby="exampleModalLabel{{ proyecto.id }}" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <form method="post" action="{% url 'eliminar_proyecto' proyecto.id %}">
                                        {% csrf_token %}
                                        <div class="modal-header">
                                          <h5 class="modal-title fs-5" id="exampleModalLabel {{ evento.id }}">Confirmación de eliminación</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                          ¿Estas seguro de eliminar el proyecto {{ proyecto.titulo }}?
                                        </div>
                                        <div class="modal-footer">
                                          <a href="{% url 'tabla_eventos' %}" class="btn btn-primary"data-bs-dismiss="modal">Cancelar</a>
                                          <!-- <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>-->
                                          <button type="submit" class="btn btn-danger">Eliminar</button>
                                        </div>
                                      </form>   
                                    </div>
                                  </div>
                                </div>

                            </td>
                          </tr>
                          {% empty %}
                          <tr><td colspan="9">No hay proyectos registrados</td></tr>
                          {% endfor %}
                        </tbody>
                      </table>                     
                    </div>
                  </div>
                </div> <!-- simple table -->
              </div> <!-- end section -->
            </div> <!-- .col-12 -->
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->

      </main> <!-- main -->

      <!-- new event modal -->
      <div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="varyModalLabel">Agregar proyecto</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body p-4">
              <form method="post" action="{% url 'registrar_proyecto' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {% if error is not None %}
                    <div class="alert alert-danger" role="alert">
                    {{ error }}
                    </div>
                {% endif %}
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="inputNombre">Nombre</label>
                    <input type="text" class="form-control" id="inputNombre" placeholder="Nombre del proyecto" name="txtNombre" required>
                  </div>
                  <div class="form-group col-md-12">
                      <label for="inputDescripcion">Descripción</label>
                      <textarea class="form-control" id="inputDescripcion" name="txtDescripcion" rows="4" required></textarea>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputFchInicio">Fecha inicio</label>
                    <input type="date" class="form-control" id="inputFchInicio" placeholder="Fecha" name="txtFechaInicio" required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputFchFin">Fecha fin</label>
                    <input type="date" class="form-control" id="inputFchFin" placeholder="Fecha" name="txtFechaFin">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputImagen">Imagen portada</label>
                    <input type="file" class="form-control" id="inputImagen" placeholder="Imagen" name="imagen" >
                  </div>
                </div> 
                <div class="modal-footer d-flex justify-content-end">
                
                  <div>
                    <button type="submit" class="btn btn-primary mr-4">Guardar</button>
                    <a href="{% url 'tabla_proyectos' %}" class="btn btn-danger">Cancelar</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div> <!-- new event modal -->
     
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag()
      {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-56159088-1');
    </script>

    <script>
      const myModalEl = document.getElementById('myModal')
      myModalEl.addEventListener('hidden.bs.modal', event => {
        // do something...
      })
    </script>

    <script>
      function calcularEdad() {
          const fechaInput = document.getElementById('inputFchNac').value;
          const edadInput = document.getElementById('inputEdad');

          if (fechaInput) {
              const hoy = new Date();
              const fechaNac = new Date(fechaInput);
              let edad = hoy.getFullYear() - fechaNac.getFullYear();
              const m = hoy.getMonth() - fechaNac.getMonth();
              if (m < 0 || (m === 0 && hoy.getDate() < fechaNac.getDate())) {
                  edad--;
              }
              edadInput.value = edad;
          } else {
              edadInput.value = '';
          }
      }

      // Ejecutar cuando cargue la página para mostrar edad actual
      window.onload = calcularEdad;

      // Ejecutar al cambiar la fecha
      document.getElementById('inputFchNac').addEventListener('change', calcularEdad);
    </script>

{% endblock %}