{% load static %}

<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'assets/images/logo-web.png' %}">
    <title>FETM</title>
    <link rel="stylesheet" href="{% static 'css/simplebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/css2.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/feather.css' %}">
    <link rel="stylesheet" href="{% static 'css/app-light.css' %}" id="lightTheme">
    <link rel="stylesheet" href="{% static 'css/app-dark.css' %}" id="darkTheme" disabled>
    <!--<link rel="stylesheet" href="{% static 'css/custom-dashboard.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/FETM_login.css' %}"> 
</head>
<body class="light">
    <div class="wrapper">
    <div class="logo">
        <img class="logo-login" src="{% static 'assets/images/logo-web.png' %}" alt="FTEM Logo">
        <h1 class="titulo-fetm">Fundación Es Tiempo de Mujeres</h1>
    </div>
    <div class="login-container">
{% block contenido %}

{% endblock %}
    </div>
    </div>
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/simplebar.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js'%}"></script>
<script src="{% static 'js/jquery.stickOnScroll.js' %}"></script>
<script src="{% static 'js/tinycolor-min.js' %}"></script>
<script src="{% static 'js/config.js' %}"></script>
<script src="{% static 'js/apps.js' %}"></script>
<script async src="{% static 'js/js.js' %}"></script>
<script async src="https://www.googleapis.com/analytics.js/analytics.js"></script>


</body>
</html>