{% extends 'base-login.html' %}
{% load static %}
{% block contenido %}

  <h2 class="h3 mb-3">Correo electrónico enviado</h2> <hr> 
    <div class="form-floating">
        <p>Hemos enviado instrucciones para restablecer tu contraseña a la dirección de
            correo electrónico que proporcionaste. Revisa tu bandeja de entrada (y la
            carpeta de spam).</p><hr>

    </div>


  <p class="mt-4 mb-1 text-center">

    <a href="{% url 'login'%} " class="text-center">Regresar al login</a>
  </p>

{% endblock %}