{% extends 'base-login.html' %}
{% load static %}

{% block contenido %}

  <h2 class="h3 mt-2">Recuperar contraseña</h2> <hr>
   {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {{ form.non_field_errors }}
    </div>
    {% endif %}

    {% if form.errors.email %}
    <div class="alert alert-danger" role="alert">
        {{ form.errors.email|striptags }}
    </div>
    {% endif %}
  <form class="text-left" action="{% url 'password_reset' %}" method="POST">
    {% csrf_token %}

    {% if error %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
    {% endif %}
    
    <div class="form-group mt-5">
      <h2 class="h5 mb-2">EMAIL</h2> <label for="input-group-text" class="sr-only">Email</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fe fe-mail"></i></span>
        </div>
        <input type="email" id="inputEmail" class="form-control form-control-lg" placeholder="Ingresar email" name="email">
      </div>
    </div>

      <!--<input type="submit" value="Ingresar">-->
    <button class="btn btn-lg btn-primary btn-block mt-5" type="submit">
      <i class="feather icon-arrow-right"></i> Recuperar contraseña
    </button> 
  </form>
  <p class="mt-4 mb-2 text-center">
    <a href="{% url 'login'%} " class="text-center">Regresar al login</a>
  </p>

{% endblock %}