
{% extends 'base-login.html' %}
{% load static %}

{% block contenido %}

    <h2 class="h3 mb-4 mt-2">Contraseña restablecida</h2> <hr>

    <div class="alert alert-success text-center" role="alert">
        ¡Tu contraseña ha sido establecida con éxito!
    </div>

    <p class="text-center mb-4">Ya puedes iniciar sesión con tu nueva contraseña.</p>

    <div class="d-flex align-items-center justify-content-center mt-4 mb-0">
        <a href="{% url 'login' %}" class="btn btn-primary w-100">Iniciar Sesión</a>
    </div>

{% endblock %}