{% extends 'base.html' %}

{% load static %}

{% block contenido %}
      <main role="main" class="main-content">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12">
              <h2 class="page-title">Editar evento</h2>
              <div class="card-deck">
                <div class="card shadow mb-4">
                  <div class="card-body">
                    <form method="post" action="">
                      {% csrf_token %}
                      {% if error is not None %}
                          <div class="alert alert-danger" role="alert">
                          {{ error }}
                          </div>
                      {% endif %}
                      <div class="form-row">
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="inputTitulo">Titulo</label>
                            <input type="text" class="form-control" id="inputTitulo" placeholder="Titulo" name="txtTitulo" value="{{ evento.titulo }}" required>
                          </div>
                          <div class="form-group col-md-6">
                            <label for="inputDescripcion">Descripcion</label>
                            <input type="text" class="form-control" id="inputDescripcion" placeholder="Descripcion" name="txtDescripcion" value="{{ evento.descripcion }}" required>
                          </div>
                          <div class="form-group col-md-6">
                            <label for="inputFch">Fecha</label>
                            <input type="date" class="form-control" id="inputFch" placeholder="Fecha" name="txtFecha" value="{{ evento.fecha|date:'Y-m-d' }}" required>
                          </div>
                          <div class="form-group col-md-6">
                            <label for="startDate">Hora inicio</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <div class="input-group-text" id="button-addon-time"><span class="fe fe-clock fe-16"></span></div>
                              </div>
                              <input type="time" class="form-control time-input" id="start-time" name="txtHoraInicio" value="{{ evento.hora_inicio }}" required>
                            </div>
                          </div>
                          <div class="form-group col-md-6">
                            <label for="startDate">Hora fin</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <div class="input-group-text" id="button-addon-time"><span class="fe fe-clock fe-16"></span></div>
                              </div>
                              <input type="time" class="form-control time-input" id="start-time" name="txtHoraFin" value="{{ evento.hora_fin }}">
                            </div>
                          </div>
                          <div class="form-group col-md-6">
                            <label for="inputDireccion">Dirección</label>
                            <input type="text" class="form-control" id="inputDireccion" placeholder="Dirección" name="txtDireccion" value="{{ evento.direccion }}" required>
                          </div>
                          <div class="form-group col-md-6">
                            <label for="inputLugar">Lugar</label>
                            <input type="text" class="form-control" id="inputLugar" placeholder="Lugar" name="txtLugar" value="{{ evento.lugar }}" required>
                          </div>
                          <div class="form-group col-md-6">
                            <label for="inputImagen">Imagen</label>
                            <input type="image" class="form-control" id="inputImagen" placeholder="Imagen" name="txtImagen" value="{{ evento.imagen }}">
                          </div>
                          
                        </div>
                        
                        <div class="modal-footer d-flex justify-content-between">
                          <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="RepeatSwitch" name="estado" {% if evento.estado %} checked {% endif %}>
                            <label class="custom-control-label" for="RepeatSwitch">Activo</label>
                          </div>
                          <div>
                            <button type="submit" class="btn btn-primary mr-4">Guardar</button>
                            <a href="{% url 'tabla_eventos' %}" class="btn btn-danger">Cancelar</a>
                          </div>
                        </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div> <!-- end section -->
            </div> <!-- .col-12 -->
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->
</main>
     
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag()
      {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-56159088-1');
    </script>
 
{% endblock %}