{% extends 'base.html' %}

{% load static %}

{% block contenido %}

        </nav>
      </aside>
      <main role="main" class="main-content">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12">
              <h2 class="page-title">Registro médico</h2>
              <div class="card-deck">
                <div class="card shadow mb-4">
                    <div class="card-body">
                      <ul class="nav nav-tabs mb-3 justify-content-center" id="myTab" role="tablist">
                        <li class="nav-item px-4">
                          <a class="nav-link active" id="historialMedico-tab" data-toggle="tab" href="#historialMedico" role="tab" aria-controls="historialMedico" aria-selected="true">Historial médico</a>
                        </li>
                        <li class="nav-item px-4">
                          <a class="nav-link" id="actividad-tab" data-toggle="tab" href="#actividad" role="tab" aria-controls="actividad" aria-selected="false">Actividad</a>
                        </li>
                        <li class="nav-item px-4">
                          <a class="nav-link" id="asistencias-tab" data-toggle="tab" href="#asistencias" role="tab" aria-controls="asistencias" aria-selected="false">Asistencias</a>
                        </li>
                        <li class="nav-item px-4">
                          <a class="nav-link" id="pagos-tab" data-toggle="tab" href="#pagos" role="tab" aria-controls="pagos" aria-selected="false">Pagos</a>
                        </li>
                      </ul>
                      <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="historialMedico" role="tabpanel" aria-labelledby="historialMedico-tab"> 
                          <form>
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="inputNombres">Nombres</label>
                                <input type="text" class="form-control" id="inputNombres" placeholder="Nombres">
                              </div>
                              <div class="form-group col-md-6">
                                <label for="inputApellidos">Apellidos</label>
                                <input type="text" class="form-control" id="inputApellidos" placeholder="Apellidos">
                              </div>
                              <div class="form-group col-md-6">
                                <label for="inputFchNac">Fecha de nacimiento</label>
                                <input type="date" class="form-control" id="inputFchNac" placeholder="Fecha de nacimiento">
                              </div>
                              <div class="form-group col-md-6">
                                <label for="inputEdad">Edad</label>
                                <input type="number" class="form-control" id="inputEdad" placeholder="Edad">
                              </div>
                              <div class="form-group col-md-6">
                                <label for="inputSexo">Sexo</label>
                                <select id="inputSexo" class="form-control">
                                  <option selected>Seleccionar sexo</option>
                                  <option>Femenino</option>
                                  <option>Masculino</option>
                                  <option>Otro</option>
                                </select>
                              </div>
                              <div class="form-group col-md-6">
                                <label for="inputTipoSangre">Tipo de sangre</label>
                                <select id="inputTipoSangre" class="form-control">
                                  <option selected>Seleccionar tipo de sangre</option>
                                  <option>A+</option>
                                  <option>B+</option>
                                  <option>AB+</option>
                                  <option>O+</option>
                                </select>
                              </div>
                              <div class="form-group col-md-6">
                                <label for="inputTipoDoc">Tipo documento</label>
                                <select id="inputTipoDoc" class="form-control">
                                  <option selected>Seleccionar tipo</option>
                                  <option>Cédula</option>
                                  <option>Pasaporte</option>
                                  <option>Otro</option>
                                </select>
                              </div>
                              <div class="form-group col-md-6">
                                <label for="inputNumDoc">Número documento</label>
                                <input type="number" class="form-control" id="inputNumDoc" placeholder="Número de documento">
                              </div>
                              <div class="form-group col-md-6">
                                <label for="inputNumTelf">Número teléfono</label>
                                <input type="number" class="form-control" id="inputNumTelf" placeholder="Número de teléfono">
                              </div>

                              <div class="form-group col-md-6">
                                <label for="inputEmail">Email</label>
                                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                              </div>
                              <div class="form-group col-md-6">
                                <label for="inputDireccion">Dirección</label>
                                <input type="text" class="form-control" id="inputDireccion" placeholder="Dirección">
                              </div>
                              <div class="form-group col-md-6">
                                <label for="inputEstadoCivil">Estado civil</label>
                                <select id="inputEstadoCivil" class="form-control">
                                  <option selected>Seleccionar estado civil</option>
                                  <option>Casad@</option>
                                  <option>Solter@</option>
                                  <option>Viud@</option>
                                </select>
                              </div>
                              <button type="submit" class="btn btn-primary mr-4">Guardar</button>
                              <button type="submit" class="btn btn-danger">Cancelar</button>
                            </div> 
                          </form>
                        </div>

                        <div class="tab-pane fade" id="actividad" role="tabpanel" aria-labelledby="actividad-tab"> 
                            <form>
                              <div class="form-row">
                                <div class="form-group col-md-12">
                                  <label for="inputAntecedentes">Antec. Personales Patológicos</label>
                                  <textarea class="form-control" id="inputAntecedentes" rows="2"></textarea>
                                </div>

                                 <div class="form-group col-md-12">
                                  <label for="inputAntecedentes">Antec. Personales No Patológicos</label>
                                  <textarea class="form-control" id="inputAntecedentes" rows="2"></textarea>
                                </div>

                                 <div class="form-group col-md-12">
                                  <label for="inputAntecedentes">Antec. Heredofamiliares</label>
                                  <textarea class="form-control" id="inputAntecedentes" rows="2"></textarea>
                                </div>

                                 <div class="form-group col-md-12">
                                  <label for="inputAntecedentes">Antec. Ginecoobstétricos</label>
                                  <textarea class="form-control" id="inputAntecedentes" rows="2"></textarea>
                                </div>

                                <button type="submit" class="btn btn-primary mr-4">Guardar</button>
                                <button type="submit" class="btn btn-danger">Cancelar</button>
                              </div> 
                          </form>
                        </div>

                        <div class="tab-pane fade" id="asistencias" role="tabpanel" aria-labelledby="asistencias-tab"> 
                          <form>
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="inputAntecedentes">Motivo</label>
                                  <textarea class="form-control" id="inputAntecedentes" rows="2"></textarea>
                                </div>

                                 <div class="form-group col-md-6">
                                  <label for="inputAntecedentes">Examen físico</label>
                                  <textarea class="form-control" id="inputAntecedentes" rows="2"></textarea>
                                </div>

                                <div class="form-group col-md-2">
                                  <label for="inputPeso">Peso(kg)</label>
                                  <input type="number" class="form-control" id="inputPeso" placeholder="">
                                </div>
                                <div class="form-group col-md-2">
                                  <label for="inputTalla">Talla(m)</label>
                                  <input type="number" class="form-control" id="inputTalla" placeholder="">
                                </div>
                                <div class="form-group col-md-2">
                                  <label for="inputTemperatura">Temperatura(°C)</label>
                                  <input type="number" class="form-control" id="inputTemperatura" placeholder="">
                                </div>
                                <div class="form-group col-md-2">
                                  <label for="inputPresion">P.A(mmHg)</label>
                                  <input type="number" class="form-control" id="inputPresion" placeholder="">
                                </div>
                                <div class="form-group col-md-2">
                                  <label for="inputFrecuencia">F.C.(X)</label>
                                  <input type="number" class="form-control" id="inputFrecuencia" placeholder="">
                                </div>

                                <div class="form-group col-md-12">
                                  <label for="inputDiagnostico">Diagnóstico</label>
                                  <textarea class="form-control" id="inputDiagnostico" rows="2"></textarea>
                                </div>

                                 <div class="form-group col-md-12">
                                  <label for="inputObservaciones">Observaciones</label>
                                  <textarea class="form-control" id="inputObservaciones" rows="2"></textarea>
                                </div>

                                <button type="submit" class="btn btn-primary mr-4">Guardar</button>
                                <button type="submit" class="btn btn-danger">Cancelar</button>
                              </div> 
                          </form>

                        </div>

                        <div class="tab-pane fade" id="pagos" role="tabpanel" aria-labelledby="pagos-tab"> 
                          <form>
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="inputAntecedentes">Motivo</label>
                                  <textarea class="form-control" id="inputAntecedentes" rows="2"></textarea>
                                </div>

                                 <div class="form-group col-md-6">
                                  <label for="inputAntecedentes">Examen físico</label>
                                  <textarea class="form-control" id="inputAntecedentes" rows="2"></textarea>
                                </div>

                                <div class="form-group col-md-2">
                                  <label for="inputPeso">Peso(kg)</label>
                                  <input type="number" class="form-control" id="inputPeso" placeholder="">
                                </div>
                                <div class="form-group col-md-2">
                                  <label for="inputTalla">Talla(m)</label>
                                  <input type="number" class="form-control" id="inputTalla" placeholder="">
                                </div>
                                <div class="form-group col-md-2">
                                  <label for="inputTemperatura">Temperatura(°C)</label>
                                  <input type="number" class="form-control" id="inputTemperatura" placeholder="">
                                </div>
                                <div class="form-group col-md-2">
                                  <label for="inputPresion">P.A(mmHg)</label>
                                  <input type="number" class="form-control" id="inputPresion" placeholder="">
                                </div>
                                <div class="form-group col-md-2">
                                  <label for="inputFrecuencia">F.C.(X)</label>
                                  <input type="number" class="form-control" id="inputFrecuencia" placeholder="">
                                </div>

                                <div class="form-group col-md-12">
                                  <label for="inputDiagnostico">Diagnóstico</label>
                                  <textarea class="form-control" id="inputDiagnostico" rows="2"></textarea>
                                </div>

                                 <div class="form-group col-md-12">
                                  <label for="inputObservaciones">Observaciones</label>
                                  <textarea class="form-control" id="inputObservaciones" rows="2"></textarea>
                                </div>

                                <button type="submit" class="btn btn-primary mr-4">Guardar</button>
                                <button type="submit" class="btn btn-danger">Cancelar</button>
                              </div> 
                          </form>

                        </div>
                      </div>
                    </div>
                  </div>


                </div>
              </div> <!-- end section -->
            </div> <!-- .col-12 -->
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->
        <div class="modal fade modal-notif modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="defaultModalLabel">Notifications</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="list-group list-group-flush my-n3">
                  <div class="list-group-item bg-transparent">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="fe fe-box fe-24"></span>
                      </div>
                      <div class="col">
                        <small><strong>Package has uploaded successfull</strong></small>
                        <div class="my-0 text-muted small">Package is zipped and uploaded</div>
                        <small class="badge badge-pill badge-light text-muted">1m ago</small>
                      </div>
                    </div>
                  </div>
                  <div class="list-group-item bg-transparent">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="fe fe-download fe-24"></span>
                      </div>
                      <div class="col">
                        <small><strong>Widgets are updated successfull</strong></small>
                        <div class="my-0 text-muted small">Just create new layout Index, form, table</div>
                        <small class="badge badge-pill badge-light text-muted">2m ago</small>
                      </div>
                    </div>
                  </div>
                  <div class="list-group-item bg-transparent">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="fe fe-inbox fe-24"></span>
                      </div>
                      <div class="col">
                        <small><strong>Notifications have been sent</strong></small>
                        <div class="my-0 text-muted small">Fusce dapibus, tellus ac cursus commodo</div>
                        <small class="badge badge-pill badge-light text-muted">30m ago</small>
                      </div>
                    </div> <!-- / .row -->
                  </div>
                  <div class="list-group-item bg-transparent">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="fe fe-link fe-24"></span>
                      </div>
                      <div class="col">
                        <small><strong>Link was attached to menu</strong></small>
                        <div class="my-0 text-muted small">New layout has been attached to the menu</div>
                        <small class="badge badge-pill badge-light text-muted">1h ago</small>
                      </div>
                    </div>
                  </div> <!-- / .row -->
                </div> <!-- / .list-group -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Clear All</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade modal-shortcut modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="defaultModalLabel">Shortcuts</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body px-5">
                <div class="row align-items-center">
                  <div class="col-6 text-center">
                    <div class="squircle bg-success justify-content-center">
                      <i class="fe fe-cpu fe-32 align-self-center text-white"></i>
                    </div>
                    <p>Control area</p>
                  </div>
                  <div class="col-6 text-center">
                    <div class="squircle bg-primary justify-content-center">
                      <i class="fe fe-activity fe-32 align-self-center text-white"></i>
                    </div>
                    <p>Activity</p>
                  </div>
                </div>
                <div class="row align-items-center">
                  <div class="col-6 text-center">
                    <div class="squircle bg-primary justify-content-center">
                      <i class="fe fe-droplet fe-32 align-self-center text-white"></i>
                    </div>
                    <p>Droplet</p>
                  </div>
                  <div class="col-6 text-center">
                    <div class="squircle bg-primary justify-content-center">
                      <i class="fe fe-upload-cloud fe-32 align-self-center text-white"></i>
                    </div>
                    <p>Upload</p>
                  </div>
                </div>
                <div class="row align-items-center">
                  <div class="col-6 text-center">
                    <div class="squircle bg-primary justify-content-center">
                      <i class="fe fe-users fe-32 align-self-center text-white"></i>
                    </div>
                    <p>Users</p>
                  </div>
                  <div class="col-6 text-center">
                    <div class="squircle bg-primary justify-content-center">
                      <i class="fe fe-settings fe-32 align-self-center text-white"></i>
                    </div>
                    <p>Settings</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
 
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag()
      {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-56159088-1');
    </script>
  </body>
</html>
{% endblock %}