{% extends 'base.html' %}
{% load roles %}
{% load static %}

{% block contenido %}
      <main role="main" class="main-content">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12">
              <h2 class="mb-2 page-title">Listado de eventos</h2>
              <div class="row my-4">

                <div class="col-12 mb-3 d-flex justify-content-end">
                {% if request.user|has_group:"Secretaria,Presidenta,Administrador" %}
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#eventModal">Agregar +</button>
                {% endif %}
                </div>
            
                <!-- Small table -->
                <div class="col-md-12">
                  <div class="card shadow">
                    <div class="card-body">
                      <!-- table -->
                      <table class="table datatables table-hover" id="dataTable-1">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Titulo</th>
                            <th>Descripcion</th>
                            <th>Fecha</th>
                            <th>Hora inicio</th>
                            <th>Hora fin</th>
                            <th>Lugar</th>
                            <th>Dirección</th>
                            <th>Imagen</th>
                            <th>Estado</th>
                            <th>Acción</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for evento in eventos %}
                          <tr>
                            <td>{{ evento.id }}</td>
                            <td>{{ evento.titulo }}</td>
                            <td>{{ evento.descripcion|truncatewords:10 }}</td>
                            <td>{{ evento.fecha }}</td>
                            <td>{{ evento.hora_inicio }}</td>
                            <td>{{ evento.hora_fin }}</td>
                            <td>{{ evento.lugar }}</td>
                            <td>{{ evento.direccion }}</td>
                            <td>
                              {% if evento.imagen %}
                                <img src="{{ evento.imagen.url }}" alt="imagen" style="width:80px; height:auto;">
                              {% else %}
                                Sin imagen
                              {% endif %}
                            </td>
                            <td>
                              {% if evento.estado == 'proximo' %}
                                <span class="badge badge-warning">Próximo</span>
                              {% elif evento.estado == 'realizado' %}
                                <span class="badge badge-success">Realizado</span>
                              {% else %}
                                <span class="badge badge-danger">Cancelado</span>
                              {% endif %}
                            </td>
                        

                            <td>
                              {% if request.user|has_group:"Secretaria,Presidenta,Administrador" %}
                                <a href="{% url 'editar_evento' evento.id %}" class="btn btn-secondary mb-1"><span class="fe fe-edit fe-14 "></span></a>
                          
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{ evento.id }}">
                                  <span class="fe fe-trash fe-14 "></span>
                                </button>
                              {% endif %}
                              <!-- Modal -->
                                <div class="modal fade" id="exampleModal{{ evento.id }}" tabindex="-1" aria-labelledby="exampleModalLabel{{ evento.id }}" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <form method="post" action="{% url 'eliminar_evento' evento.id %}">
                                        {% csrf_token %}
                                        <div class="modal-header">
                                          <h5 class="modal-title fs-5" id="exampleModalLabel {{ evento.id }}">Confirmación de eliminación</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                          ¿Estas seguro de eliminar el evento {{ evento.titulo }} del dia {{ evento.fecha }}?
                                        </div>
                                        <div class="modal-footer">
                                          <a href="{% url 'tabla_eventos' %}" class="btn btn-primary"data-bs-dismiss="modal">Cancelar</a>
                                          <!-- <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>-->
                                          <button type="submit" class="btn btn-danger">Eliminar</button>
                                        </div>
                                      </form>   
                                    </div>
                                  </div>
                                </div>

                            </td>
                          </tr>
                          {% empty %}
                          <tr><td colspan="9">No hay eventos registrados</td></tr>
                          {% endfor %}
                        </tbody>
                      </table>                     
                    </div>
                  </div>
                </div> <!-- simple table -->
              </div> <!-- end section -->
            </div> <!-- .col-12 -->
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->

      </main> <!-- main -->

      <!-- new event modal -->
      <div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="varyModalLabel">Agregar evento</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body p-4">
              <form method="post" action="{% url 'registrar_evento' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {% if error is not None %}
                    <div class="alert alert-danger" role="alert">
                    {{ error }}
                    </div>
                {% endif %}
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="inputTitulo">Título</label>
                    <input type="text" class="form-control" id="inputTitulo" placeholder="Titulo" name="txtTitulo" required>
                  </div>
            
                  <div class="form-group col-md-12">
                    <label for="inputDescripcion">Descripción</label>
                    <textarea class="form-control" id="inputDescripcion" name="txtDescripcion" rows="4" required></textarea>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputFch">Fecha</label>
                    <input type="date" class="form-control" id="inputFch" placeholder="Fecha" name="txtFecha" required>
                  </div>

                  <div class="form-group col-md-6">
                    <label for="inputDireccion">Dirección</label>
                    <input type="text" class="form-control" id="inputDireccion" placeholder="Dirección" name="txtDireccion" required>
                  </div>
                  
                  <div class="form-group col-md-6">
                    <label for="example-time">Hora inicio</label>
                    <input class="form-control" id="example-time" type="time" name="txtHoraInicio" required>
                  </div>
              
                  <div class="form-group col-md-6">
                    <label for="example-time">Hora Fin</label>
                    <input class="form-control" id="example-time" type="time" name="txtHoraFin" required>
                  </div>
                
                  <div class="form-group col-md-6">
                    <label for="inputLugar">Lugar</label>
                    <input type="text" class="form-control" id="inputLugar" placeholder="Lugar" name="txtLugar" required>
                  </div>
                </div> 
                <div class="modal-footer d-flex justify-content-end">
                  <div>
                    <button type="submit" class="btn btn-primary mr-4">Guardar</button>
                    <a href="{% url 'tabla_eventos' %}" class="btn btn-danger">Cancelar</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
      </div>
    </div> <!-- new event modal -->
     
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag()
      {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-56159088-1');
    </script>

    <script>
      const myModalEl = document.getElementById('myModal')
      myModalEl.addEventListener('hidden.bs.modal', event => {
        // do something...
      })
    </script>

    <script>
      function calcularEdad() {
          const fechaInput = document.getElementById('inputFchNac').value;
          const edadInput = document.getElementById('inputEdad');

          if (fechaInput) {
              const hoy = new Date();
              const fechaNac = new Date(fechaInput);
              let edad = hoy.getFullYear() - fechaNac.getFullYear();
              const m = hoy.getMonth() - fechaNac.getMonth();
              if (m < 0 || (m === 0 && hoy.getDate() < fechaNac.getDate())) {
                  edad--;
              }
              edadInput.value = edad;
          } else {
              edadInput.value = '';
          }
      }

      // Ejecutar cuando cargue la página para mostrar edad actual
      window.onload = calcularEdad;

      // Ejecutar al cambiar la fecha
      document.getElementById('inputFchNac').addEventListener('change', calcularEdad);
    </script>

{% endblock %}